<div class="fixed-top">
	<nav class="navbar navbar-light bg-faded">
		<div class="container">
			<div class="row col-md-12">
				<div class="col-md-4">
					<a routerLink="/" class="navbar-brand">
						<img src="/assets/logosecretaria.png" />
					</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="menu">
		<div class="container">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/aposentadoria">Aposentadoria</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/movimentacao">Movimentacao</a>
				</li>
			</ul>
		</div>
	</div>
</div>